@{
    ViewBag.Title = "Login";
    Layout = null; // No shared layout
}
@using TresDos.Application.DTOs
@using TresDos.Application.ViewModel
@model LoginModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Atocha</title>
    <script type="importmap"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body class="bg-light d-flex justify-content-center align-items-center">

    <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
        <h3 class="text-center mb-4">Atocha</h3>

        <form asp-action="Login" method="post">
            <h5>Login</h5>
            <input asp-for="Username" placeholder="Username" class="form-control" />
            <input asp-for="Password" placeholder="Password" type="password" class="form-control" />
            <button type="submit" class="btn btn-primary">Login</button>
            <p class="text-danger">@ViewBag.Error</p>
        </form>

    </div>

    <!-- Bootstrap Bundle with Popper (uses local jQuery) -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>