@using (Html.BeginForm("Submit2D", "Bet", FormMethod.Post))
{
    <label>Paste 2D Bets:</label>
    <br />
    <textarea name="input" rows="10" style="width:100%;"></textarea>
    <br />
    <button type="submit">Validate 2D</button>
}
