@using (Html.BeginForm("Submit", "Bet", FormMethod.Post))
{
    <h2>Enter 3D Lotto Entries</h2>
    <textarea name="rawInput" rows="10" style="width:100%;"></textarea>
    <br />
    <button type="submit">Validate</button>
}